.header {
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.header img {
  width: 30%;
  max-width: 151px;
}

.header .titleContainer {
  text-align: center;
  line-height: 1;
}
